:root {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Gerhana;
    src: url(fonts/GerhanaMatahari-gxWvY.otf);
}

body {
    background-color: rgb(5, 37, 80);
    font-family: -apple-system,
        BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    height: 100vh;
    min-width: 837px;
    overflow: hidden;
    text-align: center;
}

.form_wrapper {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-image: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 45%;
}

.sidebar>p {
    display: block;
    font-family: Gerhana;
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
    position: relative;
    padding: 0.3rem;
    top: 50%;
    left: 5px;
    color: #fff;
}

.sidebar>p>a,
#logo_div>p>a {
    color: #00ccbb;
}

#logo_div>img {
    margin-top: 5%;
    height: 17rem;
    width: 22rem;
}

form {
    font-size: large;
    font-weight: 400;
    line-height: 1.9rem;
    background-color: #fff;
    height: 100%;
    width: 55%;
}

section {
    height: 33.3%;
}

#form_sec1,
#form_sec3 {
    background-color: #00ccbb;
    padding: 2.2rem 2.2rem 0rem 2.2rem;
}

#form_sec1>p {
    font-weight: 400;
    color: #fff;
    margin-bottom: 2rem;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
}

#form_sec2 {
    position: relative;
    padding-top: 0.5rem;
    font-size: 0.9rem;
    text-align: left;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.70);
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.70);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.70);
}

#password_error_msg {
    display: none;
    color: #e0113c;
    margin: -0.4rem 0rem 1.5rem 0rem;
}

label {
    position: absolute;
    letter-spacing: 1px;
}

input {
    text-indent: 0.5rem;
    border: 1px solid rgb(119, 136, 153);
    border-radius: 7px;
    height: 1.5rem;
    margin-bottom: 0.4rem;
    margin-top: 1.5rem;
}

input:focus {
    outline: none !important;
    border: 1px solid rgb(0, 128, 255);
    box-shadow: 0 0 10px #00ccbb;
}

input:hover {
    background-color: rgb(127, 255, 212, 0.2);
}

#form_sec3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1rem;
}

#form_sec3>button {
    border: 1px solid rgb(119, 136, 153);
    border-radius: 7px;
    margin-bottom: 0.7rem;
    height: 2.4rem;
    width: 11rem;
    background-color: aliceblue;
    transition: 0.3s;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.70);
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.70);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.70);
}

#form_sec3>button:hover {
    font-size: 1.1rem;
    transform: translateY(4px);
    color: #00a39e;
    letter-spacing: 1px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

#form_sec3>p>a {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
}

.form_fields {
    display: flex;
    justify-content: space-between;
    padding: 1rem 6rem;
}

