/*
error color
#e0113c

logo >>

<a href="https://www.freepik.com/free-vector/branding-identity-corporate-logo-vector-design-template_28755812.htm#query=logo&position=39&from_view=keyword&track=sph">Image by Rochak Shukla</a> on Freepik
  */

:root {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Gerhana;
    src: url(fonts/GerhanaMatahari-gxWvY.otf);
}

body {
    background-color: rgb(5, 37, 80);
    font-family: -apple-system,
        BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    height: 100vh;
    overflow: hidden;
    text-align: center;
}

.form_wrapper {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-image: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 45%;
}

.sidebar>p {
    font-family: Gerhana;
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
    position: relative;
    top: 95%;
    left: 5px;
    color: #fff;
}

.sidebar>p>a {
    color: #00ccbb;
}

form {
    font-size: large;
    font-weight: 400;
    line-height: 1.9rem;
    background-color: #fff;
    height: 100%;
    width: 55%;
}

section {
    height: 33.3%;
    padding: 2.2rem;
}

#form_sec1,
#form_sec3 {
    background-color: #00ccbb;
}

#form_sec1>p {
    font-weight: 400;
    color: #fff;
    margin-bottom: 2rem;
}

#form_sec2 {
    padding-top: 0.5rem;
    font-size: 0.9rem;
    text-align: left;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.70);
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.70);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.70);
}

.form_fields {
    display: flex;
    justify-content: space-between;
    padding: 2.3rem 6rem;
}

label {
    position: absolute;
    letter-spacing: 2px;
}

input {
    text-indent: 0.5rem;
    border: 1px solid rgb(119, 136, 153);
    border-radius: 7px;
    height: 1.5rem;
    margin-bottom: 0.4rem;
    margin-top: 1.5rem;
}

input:hover {
    background-color: rgb(127, 255, 212, 0.2);
}

/*use js for this
input:focus {
    border-color: rgb(0, 128, 255);
}
*/

input:invalid {
    border-color: #e0113c;
}
